/* Links */
a, a:focus, a:hover {color: #fff;}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus
{
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

html, body
{
    height: 100%;
    margin: 0;
    color: #777;
}
body
{
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0;
}

.inner
{
    padding: 2rem;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

/* Header */
.masthead
{
    margin-bottom: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    max-height: calc(68px + 1%);
    pointer-events: all;
    z-index: 3;
}

.masthead-brand
{
    margin-bottom: 0;
    color: #666666;
    font-family: 'Ubuntu', sans-serif;
}

.nav-masthead {cursor: auto;}

.nav-masthead .nav-link
{
    padding: .25rem 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.1rem;
    color: rgba(73,73,73,0.9);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover
{
    color: rgba(255,255,255,0.8);
    border-bottom-color: rgba(255,255,255,.8);
}

.nav-masthead .nav-link + .nav-link {margin-left: 1rem;}

.nav-masthead .active
{
    color: #fff;
    border-bottom-color: #fff;
}

a.about
{

}

li {display: inline-block;}

li + li {margin-left: 1rem;}

.stuck .active
{
    color: #000;
    border-bottom-color: #000;
}

.stuck .nav-link:hover
{
    color: rgba(0,0,0,0.8);
    border-bottom-color: rgba(0,0,0,.8);
}

@media (min-width: 48em)
{
    .masthead-brand {float: left;}
    .nav-masthead {float: right;}
}

/*
 * Affix and center
 */
@media (min-width: 40em)
{
    /* Pull out the header and footer */
    .masthead
    {
        position: absolute;
        top: 0;
    }
    /* Handle the widths */
    .masthead {width: 100%; /* Must be percentage or pixels for horizontal alignment */}
}

@media (min-width: 62em)
{
    .inner
    {
        width: 42rem;
    }
}

.stuck
{
    position:fixed;
    background-color:#fff;
    border-bottom:1px solid #e7e7e7;
    -webkit-animation: slideDown 0.35s;
    -o-animation: slideDown 0.35s;
    animation: slideDown 0.35s;
}

@-webkit-keyframes slideDown
{
    from
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
    }
    to
    {
        opacity: 1;
        -webkit-transform: none;
    }
}
@-moz-keyframes slideDown
{
    from
    {
        opacity: 0;
        -moz-transform: translate3d(0, -100%, 0);
    }
    to
    {
        opacity: 1;
        -moz-transform: none;
    }
}
@keyframes slideDown
{
    from
    {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to
    {
        opacity:1;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

.scroll-to-top-btn
{
    display: block;
    position: fixed;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
    right: -60px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #999;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #999;
    padding-left: 1px;
    opacity: 0;
    -webkit-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55),opacity 0.3s,color 0.3s,border-color 0.3s;
    -webkit-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55),opacity 0.3s,color 0.3s,border-color 0.3s;
    -moz-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55),opacity 0.3s,color 0.3s,border-color 0.3s;
    transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55),opacity 0.3s,color 0.3s,border-color 0.3s;
}

.scroll-to-top-btn.visible
{
    right: 15px;
    opacity: 1;
    color: #999;
}

.vertical-middle-first
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.title {white-space: nowrap;}

span.titleText
{
    text-align: center !important;
    padding:16px 32px !important;
    color: #fff !important;
    background-color: #000 !important;
    font-size: 24px !important;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    letter-spacing: 10px;
    display: none;
}

h3.header_1
{
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.bgImg_1, .bgImg_2, .bgImg_3 /* Add more if needed */
{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed !important;
    background-position: center;
    background: no-repeat;
    background-size: cover;
}

.bgImg_1
{
    background: url("../img/about_img/about_background_big.png") repeat center center fixed;
    min-height: 100%;
}

.bgImg_2
{
    background-image: url("../img/about_img/violin.jpg");
    min-height: 400px;
}

.bgImg_3
{
    background-image: url("../img/about_img/book.jpg");
    min-height: 400px;
}

.footer
{
    background-color: #333;
    min-height: 100px;
}

/* NavBar Carousel */
.ticker-headline
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carousel.vertical .carousel-inner
{
    height: 100%;
    width: auto;
}

.carousel.vertical .carousel-inner > .carousel-item
{
    width: auto;
    padding-right: 50px;
    -webkit-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

@media all and (transform-3D), (-webkit-transform-3D)
{
    .carousel.vertical .carousel-inner > .carousel-item
    {
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
    .carousel.vertical .carousel-inner > .carousel-item.next, .carousel.vertical .carousel-inner > .carousel-item.active.right
    {
        -webkit-transform: translate3d(0, -webkit-calc(-100%), 0);
        transform: translate3d(0, calc(-100%), 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .carousel-item.prev, .carousel.vertical .carousel-inner > .carousel-item.active.left
    {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 0;
    }
    .carousel.vertical .carousel-inner > .carousel-item.next.left, .carousel.vertical .carousel-inner > .carousel-item.prev.right, .carousel.vertical .carousel-inner > .carousel-item.active
    {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}
.carousel.vertical .carousel-inner > .active, .carousel.vertical .carousel-inner > .next, .carousel.vertical .carousel-inner > .prev {display: block;}
.carousel.vertical .carousel-inner > .active {top: 0;}
.carousel.vertical .carousel-inner > .next, .carousel.vertical .carousel-inner > .prev
{
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel.vertical .carousel-inner > .next {top: -100%;}
.carousel.vertical .carousel-inner > .prev {top: 100%;}
.carousel.vertical .carousel-inner > .next.left, .carousel.vertical .carousel-inner > .prev.right {top: 0;}
.carousel.vertical .carousel-inner > .active.left {top: 100%;}
.carousel.vertical .carousel-inner > .active.right {top: -100%;}

.carousel.vertical .carousel-control
{
    left: auto;
    width: 50px;
}

.carousel.vertical .carousel-control.up
{
    top: 0;
    right: 0;
    bottom: 50%;
}

.carousel.vertical .carousel-control.down
{
    top: 50%;
    right: 0;
    bottom: 0;
}

.carousel.vertical .carousel-control .icon-prev, .carousel.vertical .carousel-control .icon-next, .carousel.vertical .carousel-control .glyphicon-chevron-up, .carousel.vertical .carousel-control .glyphicon-chevron-down
{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel.vertical .carousel-control .icon-prev, .carousel.vertical .carousel-control .glyphicon-chevron-up
{
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next, .carousel.vertical .carousel-control .glyphicon-chevron-down
{
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up, .carousel.vertical .carousel-control .icon-down
{
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {content: '\2039';}
.carousel.vertical .carousel-control .icon-next:before {content: '\203a';}
.carousel-control:focus {opacity: 0.5;}

.stuck .carousel-control {color: rgb(73,73,73);}