/* Links */
a, a:focus, a:hover {color: #fff;}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus
{
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html, body
{
  height: 100%;
  margin: 0;
  color: #777;
}
body
{
  color: #fff;
  text-align: center;
  margin: 0;
}

.inner
{
  padding: 2rem;
  width: 42rem;
  overflow: hidden;
  display: inline-block;
}

/* Header */
.masthead
{
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  max-height: 68px;
}

.masthead-brand {margin-bottom: 0;}

.nav-masthead .nav-link
{
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(73,73,73,0.9);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus
{
  color: rgba(255,255,255,0.8);
  border-bottom-color: rgba(255,255,255,.8);
}

.nav-masthead .nav-link + .nav-link {margin-left: 1rem;}

.nav-masthead .active
{
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em)
{
  .masthead-brand {float: left;}
  .nav-masthead {float: right;}
}

/*
 * Affix and center
 */
@media (min-width: 40em)
{
  /* Pull out the header and footer */
  .masthead
  {
    position: fixed;
    top: 0;
  }
  /* Handle the widths */
  .masthead {width: 100%; /* Must be percentage or pixels for horizontal alignment */}
}

h3.header_1
{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


.bgImg_1, .bgImg_2, .bgImg_3 /* Add more if needed */
{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed !important;
  background-position: center;
  background: no-repeat;
  background-size: cover;
}

.bgImg_1
{
  background: url(../img/triangular_@2X.png) repeat center center fixed;
  min-height: 100%;
}

.bgImg_2
{
  background-image: url("../img/rsz_violin.jpg");
  min-height: 400px;
}

.bgImg_3
{
  background-image: url("../img/rsz_book.jpg");
  min-height: 400px;
}