body
{
    background: url(../img/rsz_violin.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: content-box;
}

p.aboutme
{
	width: 50%;
	padding-left: 0%;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20pt;
	float: left;
	/*font-weight: bold;*/
	text-shadow: 1.5px 1.5px 1.5px black;
}

div.image
{
	width:50%;
	float: right;
}

/*#cf2 img
{
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#cf2 img.transparent
{
	opacity: 0;
}

#cf2 img.nont
{
	opacity: 1;
}

#click
{
	cursor: default;
}*/

img#me
{
	display: block;
	margin: auto;
	border-radius: 75%;
	width: 40%;
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 1024px)
{
	p.aboutme {padding-left: 1%; font-size: 25pt;}
}

@media (min-width: 1280px)
{
	p.aboutme {padding-left: 1.5%;}
	img#me {width: 50%;}
}

@media (min-width: 1440px)
{
	p.aboutme {width: 55%; font-size: 27pt;}
}


@media (min-width: 1850px)
{
	p.aboutme {font-size: 35pt; width: 60%; padding-left: 3%;}
	img#me {width: 50%;}
}