html, body {background: url(../img/contact_background.png) repeat center center fixed;}

body
{
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.nav-masthead .nav-link:hover {border-bottom-color: rgba(255, 255, 255, 0.25);}

@media (min-width: 62em) {.masthead, .mastfoot, .cover-container {width: 42rem;}}

.container
{
    width: 60%;
    margin: auto;
}

.email, .sns {display: none;}

.sns {padding-top: 4%;}

.space {padding-right: 4%;}

.linkbtn, .linkbtn:focus, .linkbtn:hover {text-decoration: none}

.linkbtn
{
    color: #fff;
    cursor: pointer;
    font-size: 30pt;
}

.linkbtn:hover {color: #A9A9A9;}

.linkbtn:focus {color: #fff;}

.linkbtnEmail {font-size: 17pt;}