body
{
	background: url(../img/book.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: content-box;
}

/* Introduction */
.introduction
{
    min-width: 330px;
    margin-left: 2%;
    vertical-align: middle;
    box-sizing: content-box;
}

/* Logo format */
#logo
{
    float: left;
    width: 7vw;
    height: auto;
    padding-top: 2%
}

/* Header style */
.head
{
    float: left;
    padding-top: 8%;
    padding-left: 1%;
}

/* Without Wax Header Font Styling*/
.header
{
	font-family: 'Indie Flower', cursive;
	text-transform: uppercase;
	text-shadow: 1.5px 1.5px 1.5px black;
	color: #ffffff;
    font-size: 29pt;
}

/* For quote */
.quote
{
    margin-right: 5vw;
    vertical-align: middle;
    box-sizing: content-box;
}

blockquote.quote_text
{
    font-family: cursive;
    color: #35b7ef;
    position: relative;
    overflow: visible;
    padding: 0.1vw 1.3vw 0.1vw 3.5vw;
    margin: 0;
    font-size: 23pt;
    border-left: 0;
}

blockquote:before
{
    font-family: Georgia, serif;
    position: absolute;
    font-size: 7vw;
    line-height: 0.5;
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after
{
    font-family: Georgia, serif;
    position: absolute;
    font-size: 7vw;
    line-height: 0.5;
    right: 0;
    bottom:-0.5em;
    content: "\201D";
}

blockquote footer
{
    padding: 0 2em 0 0;
    text-align:right;
    color: #777;
    font-size: 18pt;
}

@media (min-width: 1024px)
{
    .header {font-size: 40pt;}
}

@media (min-width: 1280px)
{
    .introduction {margin-left: 3%;}

    .header {font-size: 48pt;}
    blockquote.quote_text {font-size: 25pt;}
}

@media (min-width: 1440px)
{
    .header {font-size: 55pt;}
    blockquote.quote_text {font-size: 28pt;}
}

@media (min-width: 1850px)
{
    .quote {margin-right: 3vw;}
    blockquote.quote_text {padding-right: 0.6vw;}
    .header {font-size: 65pt}
}