html, body {background-color: #333;}
body
{
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.nav-masthead .nav-link:hover {border-bottom-color: rgba(255, 255, 255, 0.25);}

@media (min-width: 62em) {.masthead, .mastfoot, .cover-container {width: 42rem;}}

.introduction, #logo, .head, .quote
{
    float: left;
    vertical-align: middle;
}

.introduction, .quote
{
    box-sizing: content-box;
    min-width: 330px;
}

/* Introduction */
.introduction
{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

/* Logo format */
#logo
{
    display: none;
    height: auto;
    width: 4vw;
}

/* Header Font Styling*/
.header
{
    display: none;
    font-family: "Indie Flower", cursive;
    letter-spacing: 10px;
    margin: 0;
}

/* For quote */
.quote
{
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 81px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3%;
    width: 100%;
}

.text
{
    color: #fff;
    display: none;
    font-family: "Poiret One", sans-serif;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
}

.bold
{
    /*font-weight: 900;*/
    color: #35b7ef;
}

@media (min-width: 743.125px)
{
    .header {font-size: 5.20325203vw;}
    .text {font-size: 3.2018vw;}
}

@media (min-width: 1024px)
{
    .header {font-size: 40pt;}
    .text {font-size: 24.615384615385pt;}
}

@media (min-width: 1280px)
{
    .header {font-size: 48pt;}
    .text {font-size: 29.538461538462pt;}
}

@media (min-width: 1440px)
{
    .header {font-size: 55pt;}
    .text {font-size: 33.846153846154pt;}
}

@media (min-width: 1850px)
{
    .header {font-size: 65pt}
    .text {font-size: 40pt;}
}