body
{
	background: url(../img/rsz_book.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: content-box;
}

/* Introduction */
div.introduction
{
    min-width: 330px;
    vertical-align: middle;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}

/* Logo format */
#logo
{
    float: left;
    width: 7vw;
    height: auto;
    vertical-align: middle;
}

/* Header style */
.head
{
    float: left;
    vertical-align: middle;
}

/* Without Wax Header Font Styling*/
.header
{
	font-family: 'Indie Flower', cursive;
	text-transform: uppercase;
	text-shadow: 1.5px 1.5px 1.5px black;
	color: #ffffff;
    font-size: 10vw;
    margin: 0;
}

/* For quote */
div.quote
{
    vertical-align: middle;
    box-sizing: content-box;
    min-width: 330px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

p.text
{
    font-family: "Poiret One", sans-serif;
    font-size: 6.1538461538462vw;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
}

span.bold
{
    font-weight: 900;
    color: #35b7ef;
    text-shadow: 1.5px 1.5px 1.5px white;
}

@media (min-width: 743.125px)
{
    .header {font-size: 5.20325203vw;}
    p.text {font-size: 3.2018vw;}
}

@media (max-width: 743.125px)
{
    div.introduction
    {
        width: 100vw;
        min-width: 100vw;
        position: absolute;
        max-height: 50vh;
        min-height: 50vh;
     }
    div.quote
    {
        width: 100vw;
        min-width: 100vw;
        max-height: 50vh;
        min-height: 50vh;
        position: absolute;
        bottom: 0;
        padding-bottom: 29vh;
    }
}

@media (min-width: 1024px)
{
    .header {font-size: 40pt;}
    p.text {font-size: 24.615384615385pt;}
}

@media (min-width: 1280px)
{
    .header {font-size: 48pt;}
    p.text {font-size: 29.538461538462pt;}
}

@media (min-width: 1440px)
{
    .header {font-size: 55pt;}
    p.text {font-size: 33.846153846154pt;}
}

@media (min-width: 1850px)
{
    div.quote {padding-right: 0.6vw;}
    .header {font-size: 65pt}
    p.text {font-size: 40pt;}
}